b{ display:block;color:blue;font-style:italic;}
e{ display:block;color:green;font-style:italic;}
s{ display:block;color:red;font-style:italic;}
c{ display:block;color:blue;font-style:italic;}
o{ display:block;color:black;font-style:italic;}